name: flutter_touch_ripple
description: "This flutter package is customizable touch ripple effect widget for flutter, very flexible and performant, providing smooth touch effect animations."
version: 2.0.0
publisher: ttankkeo112@gmail.com
repository: https://github.com/MTtankkeo/flutter_touch_ripple

environment:
  sdk: ^3.5.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
